# code: language=yaml
#
# Output XR status from $state.status
#

{{- $xr := getCompositeResource . }}
{{- $s := $state.status }}
---
apiVersion: {{ $xr.apiVersion }}
kind: {{ $xr.kind }}
status:
  ready: {{ $s.ready }}
  base:
    ready: {{ $s.base.ready }}
  istiod:
    ready: {{ $s.istiod.ready }}
  gateways:
  {{- range $gw := $s.gateways }}
  - name: {{ $gw.name }}
    ready: {{ $gw.ready }}
  {{- end }}
